<br>

<div class="imagen">
    <img src="http://drive.google.com/uc?export=view&id=13VYk0awGO5urBC59xIKdf6Kg9MSEwWqA" width="1100" 
    class="animate__animated animate__animate__bounceInDown" alt="Hola">
</div>

<br>

<form class="animate__animated animate__bounceInDown">
    <fieldset>
        <legend>Formulario de Contacto</legend>
        <div class="form-group row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
                <input type="text" readonly="" class="form-control-plaintext" id="staticEmail"
                    value="email@example.com">
            </div>
        </div>
        <div class="form-group">
            <label for="exampleInputEmail1" class="form-label mt-4">Email address</label>
            <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp"
                placeholder="Enter email" data-nlok-ref-guid="315afc62-bc65-4832-ead3-d61633d1cf97">
            
            <small id="emailHelp" class="form-text text-muted">We'll never share your email with anyone else.</small>
        </div>
        <div class="form-group">
            <label for="exampleInputPassword1" class="form-label mt-4">Nombre Completo</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Nombre Completo"
                data-nlok-ref-guid="0f52db5b-fb32-4bd8-f8c3-1f32660c01f2">
            
        </div>
        <div class="form-group">
            <label for="exampleSelect1" class="form-label mt-4">Motivo de contacto</label>
            <select class="form-select" id="exampleSelect1">
                <option>1</option>
                <option>2</option>
                <option>3</option>
                <option>4</option>
                <option>5</option>
            </select>
        </div>
        
        <div class="form-group">
            <label for="exampleTextarea" class="form-label mt-4">Ingrese Mensaje</label>
            <textarea class="form-control" id="exampleTextarea" rows="3"></textarea>
        </div>

        <fieldset class="form-group">
            <legend class="mt-4">Radio buttons</legend>
            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios1"
                        value="option1" checked="">
                    Option one is this and that—be sure to include why it's great
                </label>
            </div>

            <div class="form-check">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios2"
                        value="option2">
                    Option two can be something else and selecting it will deselect option one
                </label>
            </div>

            <div class="form-check disabled">
                <label class="form-check-label">
                    <input type="radio" class="form-check-input" name="optionsRadios" id="optionsRadios3"
                        value="option3" disabled="">
                    Option three is disabled
                </label>
            </div>
        </fieldset>
        
        <fieldset>
            <legend class="mt-4">Switches</legend>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckDefault">
                <label class="form-check-label" for="flexSwitchCheckDefault">Default switch checkbox input</label>
            </div>
            <div class="form-check form-switch">
                <input class="form-check-input" type="checkbox" id="flexSwitchCheckChecked" checked="">
                <label class="form-check-label" for="flexSwitchCheckChecked">Checked switch checkbox input</label>
            </div>
        </fieldset>
        <br>
        
        <button type="submit" class="btn btn-primary"
            data-nlok-ref-guid="569d5d47-3e99-41fc-ec1c-f35ef4a46d4a">Submit</button>
    </fieldset>
</form>
<br>