<p class="">
<div class="animate__animated animate__rubberBand">
    <img src="http://drive.google.com/uc?export=view&id=1lfhhrmSylO3KPvhE7s530RjYokHs9bhZ" alt="" height="200"
        width="1100">
</div>
</p>
<br />
<div class="wrapper">
    <div class="slider" id="slider">
        <ul class="slides">
            <li class="slide" id="slide1">
                <a href="#">
                    <p class="caption">Texto llamativo</p>
                    <img src="http://drive.google.com/uc?export=view&id=13VYk0awGO5urBC59xIKdf6Kg9MSEwWqA"
                        alt="photo 1">
                </a>
            </li>
            <li class="slide" id="slide2">
                <a href="#">
                    <p class="caption">Texto llamativo</p>
                    <img src="http://drive.google.com/uc?export=view&id=13VYk0awGO5urBC59xIKdf6Kg9MSEwWqA"
                        alt="photo 2">
                </a>
            </li>
            <li class="slide" id="slide3">
                <a href="#">
                    <p class="caption">Texto llamativo</p>
                    <img src="http://drive.google.com/uc?export=view&id=13VYk0awGO5urBC59xIKdf6Kg9MSEwWqA"
                        alt="photo 3">
                </a>
            </li>
            <li class="slide" id="slide4">
                <a href="#">
                    <p class="caption">Texto llamativo</p>
                    <img src="http://drive.google.com/uc?export=view&id=13VYk0awGO5urBC59xIKdf6Kg9MSEwWqA"
                        alt="photo 4">
                </a>
            </li>
            <li class="slide" id="slide5">
                <a href="#">
                    <p class="caption">Texto llamativo</p>
                    <img src="http://drive.google.com/uc?export=view&id=13VYk0awGO5urBC59xIKdf6Kg9MSEwWqA"
                        alt="photo 5">
                </a>
            </li>
            <li class="slide">
                <a href="#">
                    <p class="caption">Texto llamativo</p>
                    <img src="http://drive.google.com/uc?export=view&id=13VYk0awGO5urBC59xIKdf6Kg9MSEwWqA"
                        alt="photo 1">
                </a>
            </li>
        </ul>
        <ul class="slider-controler">
            <li><a href="#slide1">&bullet;</a></li>
            <li><a href="#slide2">&bullet;</a></li>
            <li><a href="#slide3">&bullet;</a></li>
            <li><a href="#slide4">&bullet;</a></li>
            <li><a href="#slide5">&bullet;</a></li>
        </ul>
    </div>
</div>
<br />
<p>
<div class="animate__animated animate__rubberBand">
    <h1> HOLA PERROS

        <nav>
            <div>
                <FONT FACE="small fonts" , SIZE="5">Texto de prueba 12345 con tipo SMALL FONTS ksjadklfjas
                    kajsfñlkasjdflka jkfsadjfñk
                    sldkfjañlkfj ksdafjñlaskjf dkjsañlfkjas ksjdfkaj kjfdskajs kasdfj aklsj
                </FONT>
            </div>
        </nav>
</div>
</p>
<br />
<p>
<div class="card text-white bg-info mb-3; animate__animated animate__rubberBand" style="max-width: 120rem;">
    <div class="card-header" style="text-align:center">Header</div>
    <div class="card-body">
        <h4 class="card-title" style="text-align:center">Info card title</h4>
        <p class="card-text" style="text-align:center">Some quick example text to build on the card title and make up
            the bulk of the card's
            content.</p>
    </div>
</div>
</p>

<br />
<p>
<div class="container-fluid; animate__animated animate__rubberBand" id="about" width="1100">
    <div class="row bg-dark text-white p-5 text-center">
        <div class="card text-white bg-primary mb-3; columna" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#"><button type="button" class="btn btn-secondary">Secondary</button></a>
            </div>
        </div>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="card text-white bg-primary mb-3; columna" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="/inicio/nosotros"><button type="button" class="btn btn-secondary">Secondary</button></a>
            </div>
        </div>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="card text-white bg-primary mb-3; columna" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="Contacto"><button type="button" class="btn btn-secondary">Secondary</button></a>
            </div>
        </div>

        &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;

        <div class="card text-white bg-primary mb-3; columna" style="max-width: 20rem;">
            <div class="card-header">Header</div>
            <div class="card-body">
                <h4 class="card-title">Primary card title</h4>
                <p class="card-text">Some quick example text to build on the card title and make up the bulk of the
                    card's content.</p>
                <a href="#"><button type="button" class="btn btn-secondary">Secondary</button></a>
            </div>
        </div>
    </div>
</div>
</p>
</div>
</p>

<p>

    <script> var element = document.getElementById("old2");
        if (element != null) {
            element.style.display = "none";
        }

        function showHide(elementId) {
            var element = document.getElementById(elementId);
            if (element != null) {
                if (element.style.display != "none") {
                    element.style.display = "none";
                } else {
                    element.style.display = "block";
                }
            }
        }</script>

<div class="alert alert-dismissible alert-warning" id="old2">
    <button type="button" class="btn-close" data-bs-dismiss="alert" onclick="showHide('old2')"></button>
    <h4 class="alert-heading">Warning!</h4>
    <p class="mb-0">Best check yo self, you're not looking too good. Nulla vitae elit libero, a pharetra augue. Praesent
        commodo cursus magna, <a href="#" class="alert-link">vel scelerisque nisl consectetur et</a>.</p>
</div>
</p>