<section class="animate__animated animate__bounce">
    <p>
    <div class="form-wrap">
        <img src="http://drive.google.com/uc?export=view&id=1A012Mnz56YJLIjFD_2D_Gzdyq3aME2V6" alt="" width="1100"
            class="animate__delay-2s animate__Bouncing entrances">
    </div>
    </p>
    <br>
    <div class="animate__tada">
        <p>
        <div class="container-fluid" id="about">
            <div class="row bg-dark text-white p-5 text-center">
                <div class="col-sm-6">
                    <h3>Visión</h3>
                    <i class="fab fa-youtube fa-10x"></i>
                </div>
                <div class="col-sm-6">
                    <br/><br/>
                    <h3>Aumentar el valor de nuestro negocio, dando un buen nivel de satisfacción al cliente.</h3>
                </div>
            </div>
        </div>
        </p>
        <p>
        <div class="container-fluid" id="about" width="1100">
            <div class="row bg-dark text-white p-5 text-center">
                <div class="col-sm-6">
                    <br/><br/>
                    <h3>Brindar a nuestros clientes, postres únicos y deliciosos.</h3>
                </div>
                <div class="col-sm-6" width="1100">
                    <h3>Misión</h3>
                    <i class="fab fa-youtube fa-10x"></i>
                </div>
            </div>
        </div>
        </p>
    </div>

    <br />

    <p>
    <div class="container-fluid" id="about" width="1100" style="text-align:center">
        <div class="row bg-dark text-white p-5 text-center">
            <div class="">
                <div class="form-wrap">
                    <img src="http://drive.google.com/uc?export=view&id=1j1UUCsRW1qRAMR-kAbq-uJfWISqB1Q1A" alt=""
                        width="600" height="125" class="animate__delay-2s animate__Bouncing entrances" style="text-align:center">
                </div>
                <br/>
                <h3 style="text-align:center"> 1783. Nace el Rey de los Cocineros. Marie-Antoine Carême en  la Rue du Bac, 
                    en París, en el seno de una mísera y extensa familia (las fuentes hablan de entre 10 y 15 hijos del matrimonio 
                    Carême), mantenida por su padre, estibador en los cercanos muelles.</h3>
            </div>
        </div>
    </div>
    </p>

    <br />

</section>